</div>

<div class="footer-padding"></div>
<div class="footer">
  <a class="footer-link" href="https://github.com/noeyhoos/Interactive196v">Github </a>
  <a class="footer-link" href="https://covidtracking.com/api">Data </a>
  <a class="footer-link" href="https://www.census.gov/search-results.html?searchType=web&cssp=SERP&q=population%20by%20state">US Census Bureau</a>

</div>

</body>

</html>
